@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
  background-color: #E9D8ED;
  font-family: 'Play', sans-serif;
}

.container {
  text-align: center;
}

body .title {
  font-size: 60px;
}

.title, h3 {
  font-family: 'Rampart One', cursive;
}

.subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 24px;
}

.place-container {
  background-color: #A3006D;
  color: white;
  font-size: 18px;
  width: 200px;
  height: 50px;
  padding: 20px;
  margin-inline: auto;
  border-radius: 5px;
}

#warning-message {
  display: none;
  background-color: #ff9966;
  margin: 10px auto 0 auto;
  padding: 5px;
  max-width: 500px;
}

#warning-message p {
  margin: 0;
}

#warning-message.active {
  display: block;
}

#btnGerar,
#add-place-button {
  border: none;
  border-radius: 5px;
  background-color: rgb(202, 161, 214);
  cursor: pointer;
  color: rgba(255, 255, 255, .9);
  font-size: 18px;
  outline: none;
  padding: 10px 15px;

}

/* PAGINA DE LUGARES */

#add-place-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-place-input {
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 13px 15px;
  margin-right: 5px;

}

#add-place-list {
  list-style-type: none;
  padding-left: 0px;
  max-height: 250px;
  overflow-y: scroll;
}

#add-place-list li {
  display: grid;
  grid-template-columns: 30px 170px 30px;
  justify-content: center;
  justify-items: self-start;
  align-items: center;
}

#add-place-list li::before {
  content: '🍻';
  margin-right: 5px;
  font-size: 24px;
}

.delete-list-item {
  border: none;
  background: none;
  color: rgba(255, 0, 0, .8);
  cursor: pointer;
  padding: 10px;
}

/* LINKS */
.link-to-add-places {
  display: block;
  margin-top: 20px;
}
