@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
  background-color: #E9D8ED;
  font-family: 'Play', sans-serif;
}

.container {
  text-align: center;
}

body .title {
  font-family: 'Rampart One', cursive;
  font-size: 60px;
}

.subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 24px;
}

.place-container {
  background-color: #A3006D;
  color: white;
  font-size: 18px;
  width: 200px;
  height: 50px;
  padding: 20px;
  margin-inline: auto;
  border-radius: 5px;
}

#btnGerar {
  border: none;
  border-radius: 5px;
  background-color: rgb(202, 161, 214);
  cursor: pointer;
  color: rgba(255, 255, 255, .9);
  font-size: 18px;
  outline: none;
  padding: 10px 15px;

}

